.sj-container{
    text-align: center;
    margin-top: 20px;
}
.span-ele{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 30px;
    border-bottom: 3px solid  rgb(240, 118, 53);;
}
.filter-fields-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;

}