.sidebar-container{
    padding: 20px 25px;
    width: 240px;
    height:'100vh';
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px solid red;
    
}

.logo-container{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);     
}   
.logo-image{
    width: 130px;
    margin-bottom: 24px;
    
}

ul{
    margin-top: 0;
    list-style-type: none;
    padding: 0
}
ul li{
    display: flex;
    align-items: center;
}
ul li p{
    color: rgb(117, 117, 117);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 4px;
}
.ul-heading{
    font-weight: 400;
    line-height: 1.5;
    color: rgb(117, 117, 117);
    font-family: 'Inter';
    font-size: 10px;
}
